{% extends 'layouts/base.html' %}

{% block title %}{{ store.name }} - {{ store.tagline }}{% endblock %}

{% block extrastyles %}
{{ block.super }}
{% if settings.home_page_css %}
    <style>{{ settings.home_page_css|safe }}</style>
{% endif %}
{% endblock extrastyles %}

{% block announcement_bar %}
    {% if settings.ab_text and settings.ab_placement != 'none' %}
        {% include "partials/announcement_bar.html" %}
    {% endif %}
{% endblock announcement_bar %}

{% block content_wrapper %}
{% if settings.account_only %}
    {% include "partials/account_only.html" %}
{% else %}

<main>

{% include "partials/section_hero.html" %}
{% include "partials/section_featured_product.html" %}
{% include "partials/section_featured_products.html" %}
{% include "partials/section_featured_categories.html" %}
{% include "partials/section_on_sale.html" %}
{% include "partials/section_promo_banner.html" %}

{% app_hook 'home_review_feed' %}

</main>
{% endif %}
{% endblock %}
